Source: plasma-mediacenter
Section: kde
Priority: extra
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Build-Depends: baloo-kf5-dev,
               cmake,
               debhelper (>= 9),
               extra-cmake-modules,
               kio-dev,
               libkf5config-dev,
               libkf5configwidgets-dev,
               libkf5coreaddons-dev,
               libkf5declarative-dev,
               libkf5guiaddons-dev,
               libkf5i18n-dev,
               libkf5service-dev,
               libkfilemetadata-dev,
               libtag1-dev,
               pkg-kde-tools,
               plasma-framework-dev,
               qtdeclarative5-dev
Standards-Version: 3.9.6
Homepage: https://projects.kde.org/projects/extragear/multimedia/plasma-mediacenter
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-kde/kde-extras/plasma-mediacenter.git/
Vcs-Git: git://anonscm.debian.org/pkg-kde/kde-extras/plasma-mediacenter.git

Package: plasma-mediacenter
Architecture: any
Depends: baloo,
         plasma-workspace,
         qml-module-qtmultimedia,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: gstreamer0.10-plugins-bad,
            gstreamer0.10-plugins-good,
            gstreamer0.10-plugins-ugly,
            kffmpegthumbnailer
Description: multimedia center for KDE desktop
 KDE Plasma Media Center is aimed towards unified media experience on PCs,
 tablets, netbooks, TVs and any device capable of running KDE software.
 Plasma Media Center can be used to view images, play music or watch videos.

Package: libplasmamediacenter2
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: multimedia center for KDE desktop - library files
 This package contains libraries for Plasma Media Center

Package: plasma-mediacenter-dbg
Section: debug
Architecture: any
Depends: plasma-mediacenter (=${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depend}
Description: multimedia center for KDE desktop - debugging symbols
 This package contains debugging symbols for Plasma Media Center
